@model Myfirst.Models.Movie 
@{
    ViewBag.Title = "Details";
}

@if (Model == null)
{
    <label style="color:red">Movie Id Which You Entered has No Records Please Check It!!!</label>
}
else
{
    <h2>Details of @Model.Name</h2>
    <ol class="list-group">


        <li class="list-group-item">Director:@Model.DirectorName</li>
        <li class="list-group-item">Hero:@Model.Hero</li>
        <li class="list-group-item">Genre:@Model.GenreId</li>
        <li>@Html.ActionLink("Back to List", "Index", "Movie", new { id = Model.Id }, new { @class = "nav-link" })</li>
        

    </ol>
}
<div class="row">
    <div class="col-md-3 mt-2">
        @using (Html.BeginForm("Delete", "Movie", new { id = Model.Id }, FormMethod.Post))
        {
            <button id="cmdDelete" type="Submit" class="btn btn-outline-danger">Delete</button>
        }
    </div>
</div>



